* {
    font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
}
body{
    background: #6725A8;
    margin: 0;
    padding: 0;
}

.space-between, .missing-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.pos-relative{
    position: relative;
}
button{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.width-40{
    width: 40%;
}
.width-13{
    width: 13vw;
}
.width-25{
    width: 25.7%;
}
.height-100{
    height: 100px;
}
.bot-8{
    margin-bottom: 8px;
}
.bot-16{
    margin-bottom: 16px;
}
.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
  }
.top-24{
    margin-top: 24px;
}
.bot-24{
    margin-bottom: 24px;
}
.font-13{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.font-16{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.font-bold-16{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.text-right{
    text-align: right;
}
.gray-back{
    padding: 8px;
    background: rgba(246, 246, 250, 1);
    border-radius: 8px;
    margin-top: 8px;
}
.gray-font{
    color: gray;
}
.white-bac{
    background: white;
    border-radius: 16px;
    padding: 12px 24px 24px 24px;
}
input{
    font-size: 16px;
}
input[type="checkbox"], input[type="radio"] {
    display: none;
}
label {
    padding-left: 10px;
}
label::before{
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    background: rgba(246, 246, 250, 1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}


.header{
    height:88px;
    color: white;
    padding: 16px 24px;
    box-sizing: border-box;
}
.logo p{
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.07em;
    width: 106px;
}
.logo button{
    height: 48px;
    width: 48px;
    margin-right: 16px;
    padding: 10px 12px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
    background: #6725A8;;
}
.logo button img {
    width: 23px;
    height: 26px;
}
.search{
    width: 72%;
    position: relative;
}
.search button{
    display: inherit;
}
.search input{
    width: 100%;
    height: 48px;
    padding: 0 20px;
    border: none;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    outline: none;
    box-sizing: border-box;
}
.search input::placeholder {
    color: white;
}
.search .big-display-button img{
    position: absolute;
    top: 14px;
    right: 22px;
}
.small-display-button, .small-display-button img{
    display: none;
}
.icons-menu{
    width: 11%;
}
.icons-menu a{
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.icons-menu a img{
    height: 28px;
    width: 24px;
}
.icons-menu p{
    padding: 2px 0 0 0;
    margin: 0;
}
.count{
    position: absolute;
    top: 0;
    right: 8px;
    border-radius: 50%;
    background: rgba(245, 81, 35, 1);
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 10px;
    text-align: center;
}

/* Cart */
.cart{
    background: #F6F6FA;
    border-radius: 24px;
    padding: 24px;
    align-items: flex-start;
}
.body-cart{
    width: 66%;
}
.body-cart h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.01em;
    margin-top: 12px;
}
.cart-header{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 16px;
}
.hide-divs span {
    font-weight: 600;
}
.buy-row{
    margin: 16px 0 24px 0;
    align-items: flex-start;
}
.buy-row-block-1, .buy-row-block-2{
    align-items: flex-start;
}
.specifications{
    margin: 8px 0;
}
.seller{
    margin-top: 8px;
    position: relative;
}
.seller div{
    justify-content: flex-start;
}
.seller div img{
    margin-left: 4px;
    cursor: pointer;
}
.seller-placeholder{
    position: absolute;
    bottom: -120px;
    left: -20px;
    background: white;
    border-radius: 8px;
    padding: 8px 16px;
    width: 280px;
    color: black;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 
                0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.buy-card .seller-placeholder p{
    line-height: 16px;
    margin:8px 0 ;
}
.buy-card{
    margin-left: 16px;
    width: 18vw;
}
.buy-card p {
    margin: 0;
}
.buy-count{
    background: white;
    height: 44px;
    border-radius: 8px;
    padding: 4px;
    box-sizing: border-box;
}
.buy-count button{
    width: 24px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
}
.buy-count input{
    border: none;
    outline: none;
    background: white;
    padding: 4px;
    box-sizing: border-box;
    width: 44px;
    text-align:center;
}
.remains{
    color: rgba(255, 59, 48, 1);
    margin: 8px 0;
}
.like-trash{
    margin-top: 8px;
}
.like-trash label{
    padding: 0;
}
.like-trash button{
    margin-left: 10px;
}
.purpur-chek .like label::before,
.purpur-chek .trash label::before,
.purpur-chek .like input[type="checkbox"]:checked + label::before,
.purpur-chek .trash input[type="checkbox"]:checked + label::before,
.purpur-chek .like label:hover:before,
.purpur-chek .trash label:hover:before{
    display: inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    border: 0;
    box-shadow: none;
    padding: 0;
}
.purpur-chek .like label::before{
    content: url(../static/img/like-trash/like.svg);
}
.purpur-chek .trash label::before{
    content: url(../static/img/like-trash/trash.svg);
}
.purpur-chek .like input[type="checkbox"]:checked + label::before{
    content: url(../static/img/like-trash/like-purpur.svg);
}
.purpur-chek .like label:hover:before{
    content: url(../static/img/like-trash/like-border-purpur.svg);
}
.purpur-chek .trash label:hover:before{
    content: url(../static/img/like-trash/trash-border-orange.svg);
}


.buy-price{
    margin-left: 16px;
    text-align: right;
    height: 100px;
    min-width: 10vw;
    position: relative;
}
.buy-price .bold{
    font-size: 20px;
    line-height: 28px;
}
.buy-price .font-13 span{
    text-decoration: line-through;
    border-bottom: 1px dashed lightgray;
    cursor: pointer;
}
.discount{
    position: absolute;
    right: -5px;
    bottom: -20px;
    width: 240px;
    padding: 16px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 
                0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.buy-price  .discount span{
    text-decoration: none;
    border: none;
}
.missing .shop-list{
    border-top: 1px solid lightgrey;
}
.missing img{
    filter: grayscale(100%); 
}
.missing h4{
    margin: 12px 0;
    font-weight: 600;
}
.missing .like-trash{
    text-align: center;
    height: 100px;
    margin: 0;
}
.missing .buy-card{
    width: 25vw;
}
.missing .buy-row{
    align-items: flex-start;
}
.missing .height-100{
    align-items: flex-start;
}
.cart-delivery{
    margin-top: 24px;
}
.cart-delivery h4{
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
}
.button-change{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(203, 17, 171, 1);
    text-decoration: none;
    cursor: pointer;
}
.cart-delivery .delivery-reverse{
    justify-content: flex-start;
}
.rating{
    margin-right: 8px;
}
.rating::before{
    content: url(../static/img/star.svg);
    display: inline-block;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    border: 0;
    box-shadow: none;
    padding: 0;
}
.delivery-buy img{
    width:40px;
    height: 56px;
    margin-left: 8px;
}
.pos-relative .count{
    right: -5px;
    color: white;
    z-index: 3;
}
.pay-buy-cart * {
    margin-right: 16px;
}
.adresse div{
    display: inline-block;
    margin-right: 2.5%;
    height: 50px
}
.adresse div *{
    display: block;
    width: 100%;
    border: none;

;
}
.adresse div input{
    border-bottom: 2px solid lightgray;
    background: none;
    z-index: 1;
    outline: none;
}
.adresse div input:focus{
    border-bottom: 2px solid rgba(245, 81, 35, 1);
    color: rgba(245, 81, 35, 1);
    background: none;
    z-index: 1;
    outline: none;
}

.adresse label::before{
    content: none;
}
.adresse label {
    position: absolute;
    padding: 0;
    left: 1px;
}
.adresse span{
    position: absolute;
}
.adresse .err-placeholder{
    color: rgba(245, 81, 35, 1);
    display: none;
}
.label-float {
    top: 0px; 
    transition: top 0.3s ease;
}
.label-filled{
    top: -24px;
}
.adresse .err-input{
    border-bottom: 2px solid rgba(245, 81, 35, 1);
    color: rgba(245, 81, 35, 1);
}


.order{
    width: 31.5%;
    padding: 16px 24px 24px 24px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 
                0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    background: white;

}
.order .data-card{
    display: none;
}

.price{
    font-size: 22px;  
    margin-bottom: 4px;
}
.bold{
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
}
.price-dop {
    font-size: 16px;
    line-height: 24px;
}

.delivery-dop{
    font-size: 13px; 
}
.date{
    color:  rgba(203, 17, 171, 1);
    border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}
.delivery-reverse img {
    margin-right: 8px;
}
.delivery-reverse {
    position: relative;
}
.placeholder-delivery{
    position: absolute;
    bottom: -50px;
    left: 0;
    max-width: 298px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 
                0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.cart-delivery  .placeholder-delivery{
    bottom: -60px;
    left: 200px;
}
.pay div {
    margin-bottom: 8px;
}
.green{
    color: rgba(12, 180, 119, 1);
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
    cursor: pointer;
}
.btn-order{
    width: 100%;
    height: 44px;
    padding: 0px 32px 5px 32px;
    border-radius: 8px;
    background: rgba(203, 17, 171, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    margin-bottom: 8px;
}
.purpur-chek label::before {
    border: 1px solid gray;
}   
.purpur-chek label:hover::before {
    box-shadow: 0 0 0.4rem 0.2rem rgba(203, 17, 171, 0.4);
    border: 1px solid rgba(203, 17, 171, 0.5);
}  
.purpur-chek input[type="checkbox"]:checked + label::before {
    content: url(../static/img/chek.svg);
    padding: 2px 4px;
    background: rgba(203, 17, 171, 1);
    border: 1px solid rgba(203, 17, 171, 1);
}
.body-cart .purpur-chek input[type="checkbox"]:checked + label::before {
    font-family: sans-serif;
}
.agree-chek input[type="checkbox"]:checked + label::before {
    content: url(../static/img/chek-black.svg);
    padding: 2px 4px;
    background: rgba(203, 17, 171, 0);
    border: none;
}
.agree-chek label::before {
    border: 1px solid gray;

}   
/* Footer */
.footer p{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.modal{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(5, 0, 10, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.modal .btn-order{
    width: 40%;
    padding: 4px;
}
.modal .bold{
    font-size: 20px;
}
#modal-pay, #modal-delivery{
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 
                0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 16px;
    width: 30%;
    min-height: 50%;
    flex-direction: column;
    justify-content: space-between;
}
#modal-delivery .space-between{
    align-items: flex-start;
}
.modal label::before{
    height: 16px;
    width: 16px;
    content: " ";
    border-radius: 50%;
    background: white;
    border: 1px solid lightgray;
}
.modal input[type="radio"]:checked + label::before {
    content: "";
    padding: 1px;
    background: white;
    border: 5px solid rgba(203, 17, 171, 1);
}
.delivery-buttton button{
    border: 2px solid rgba(203, 17, 171, 0.15);
    border-radius: 30px;
    font-weight: bold;
    padding: 8px;
    width: 49%;
}
.delivery-buttton button:hover{
    border: 2px solid rgb(203, 17, 172);
}
.modal .font-13{
    font-weight: bold;
}
.modal .like-trash {
    margin: 0;
    filter: contrast(0.1);
}
.modal .like-trash:hover {
    margin: 0;
    filter: contrast(1);
}
.modal .trash {
    width: 20px;
    height: 20px;
}
.courier .space-between, .points-delivery .space-between{
    margin: 8px 0;
}
.point-info .gray-font{
    font-weight: 400;
}
.point-info .gray-font .rating {
    color: black;
}
.pay-row {
    margin: 8px 0;
}
.pay-row * {
    margin-right: 4px;
}


@media (max-width:800px){
    .body-cart, .order{
        width: 100%;
    }
    .order{
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
    }
    .order .bold{
        font-size: 20px;
    }
    .order .top-24{
        margin-top: 12px;
    }
    .order .gray-back{
        background: #F0ECF4;
    }
    .hide, .hide *{
        display: none; 
    }
    .header{
        height: 56px;
    }
    .logo{
        width: 100%;
    }
    .logo button{
        border: none;
        margin: 0;
        padding: 0;
        width: 28px;
        height: 28px;
    }
    .logo p{
        width: auto;
        letter-spacing: 0em;
    }
    .search, .buy-card, .missing .space-between{
        width: auto;
    }
    .cart, .small-display-button, .small-display-button img{
        display: block;
    }
    .shop-list .buy-row{
        position: relative;
        display: block;
    }
    .buy-row-block-1{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .buy-row-block-2{
        justify-content: center;
        display: block;
    }
    .buy-row-checkbox{
        position: absolute;
        top: 4px;
        left: 4px;
    }
    .buy-price{
        position: absolute;
        top: 0;
        left: 74px;
        text-align: left;
        
    }
    .buy-price .bold{
        font-size: 16px;  
    }
    .buy-price *{
        display: inline;
        letter-spacing: 0px;
    }
    .discount{
        display: none;
    }
    .buy-count-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .buy-count{
        height: auto;
    }
    .buy-card{
        margin-top: 28px;

    }
    .buy-card .font-16{
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
    }
    .remains{
        font-size: 13px;
    }
    .missing .buy-row{
        border-bottom: 1px solid lightgrey;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 16px;
    }
    .missing .like-trash{
        height: auto;
        width: auto;
        text-align: right;
        margin-bottom: 8px;
    }
    .missing .buy-card{
        margin: 0 0 0 20px;
    }
    .cart-delivery h4{
        font-size: 18px;
    }
    .small-dispaly-delivery .block{
        display: block;
    }
    .small-dispaly-delivery .width-13{
        width: auto;
    }
    .small-dispaly-delivery .block img{
        margin: 0 8px 0 0;
    }
    .small-dispaly-delivery .small-display-delivery-row{
        display: flex;
    }
    .pos-relative .count{
        right: 0;
    }
    .pay-buy-cart *, .like-trash button{
        margin: 0;
    }
    .pay-buy-cart{
        font-size: 13px;
        justify-content: space-between;
    }
    .adresse .width-40, .adresse .width-25{
        width: 100%;
    }
    .adresse .width-25{
        margin-bottom: 16px;
    }
    #modal-pay, #modal-delivery{
        width: 100%;
    }
    
}

@media (max-width:300px){
    .body-cart, .order{
        width: 100%;
    }
    .order{
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
    }
    .order .bold{
        font-size: 20px;
    }
    .order .top-24{
        margin-top: 12px;
    }
    .order .gray-back{
        background: #F0ECF4;
    }
    .hide, .hide *{
        display: none; 
    }
    .header{
        height: 56px;
    }
    .logo{
        width: 100%;
    }
    .logo button{
        border: none;
        margin: 0;
        padding: 0;
        width: 28px;
        height: 28px;
    }
    .logo p{
        width: auto;
        letter-spacing: 0em;
    }
    .search, .buy-card, .missing .space-between{
        width: auto;
    }
    .cart, .small-display-button, .small-display-button img{
        display: block;
    }
    .shop-list .buy-row{
        position: relative;
        display: block;
    }
    .buy-row-block-1{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .buy-row-block-2{
        justify-content: center;
        display: block;
    }
    .buy-row-checkbox{
        position: absolute;
        top: 4px;
        left: 4px;
    }
    .buy-price{
        position: absolute;
        top: 0;
        left: 74px;
        text-align: left;
        
    }
    .buy-price .bold{
        font-size: 16px;  
    }
    .buy-price *{
        display: inline;
        letter-spacing: 0px;
    }
    .discount{
        display: none;
    }
    .buy-count-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .buy-count{
        height: auto;
    }
    .buy-card{
        margin-top: 28px;

    }
    .buy-card .font-16{
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
    }
    .remains{
        font-size: 13px;
    }
    .missing .buy-row{
        border-bottom: 1px solid lightgrey;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 16px;
    }
    .missing .like-trash{
        height: auto;
        width: auto;
        text-align: right;
        margin-bottom: 8px;
    }
    .missing .buy-card{
        margin: 0 0 0 20px;
    }
    .cart-delivery h4{
        font-size: 18px;
    }
    .small-dispaly-delivery .block{
        display: block;
    }
    .small-dispaly-delivery .width-13{
        width: auto;
    }
    .small-dispaly-delivery .block img{
        margin: 0 8px 0 0;
    }
    .small-dispaly-delivery .small-display-delivery-row{
        display: flex;
    }
    .pos-relative .count{
        right: 0;
    }
    .pay-buy-cart *, .like-trash button{
        margin: 0;
    }
    .pay-buy-cart{
        font-size: 13px;
        justify-content: space-between;
    }
    .adresse .width-40, .adresse .width-25{
        width: 100%;
    }
    .adresse .width-25{
        margin-bottom: 16px;
    }
    #modal-pay, #modal-delivery{
        width: 100%;
    }
    
}
/* @media only screen and (max-device-width: 600px){
    body{
        font-size: 16px;
    }
    .body-cart, .order{
        width: 100%;
    }
    .order{
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
    }
    .order .bold{
        font-size: 20px;
    }
    .order .top-24{
        margin-top: 12px;
    }
    .order .gray-back{
        background: #F0ECF4;
    }
    .hide, .hide *{
        display: none; 
    }
    .header{
        height: 56px;
    }
    .logo{
        width: 100%;
    }
    .logo button{
        border: none;
        margin: 0;
        padding: 0;
        width: 28px;
        height: 28px;
    }
    .logo p{
        width: auto;
        letter-spacing: 0em;
    }
    .search, .buy-card, .missing .space-between{
        width: auto;
    }
    .cart, .small-display-button, .small-display-button img{
        display: block;
    }
    .shop-list .buy-row{
        position: relative;
        display: block;
    }
    .buy-row-block-1{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .buy-row-block-2{
        justify-content: center;
        display: block;
    }
    .buy-row-checkbox{
        position: absolute;
        top: 4px;
        left: 4px;
    }
    .buy-price{
        position: absolute;
        top: 0;
        left: 74px;
        text-align: left;
        
    }
    .buy-price .bold{
        font-size: 16px;  
    }
    .buy-price *{
        display: inline;
        letter-spacing: 0px;
    }
    .discount{
        display: none;
    }
    .buy-count-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .buy-count{
        height: auto;
    }
    .buy-card{
        margin-top: 28px;

    }
    .buy-card .font-16{
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
    }
    .remains{
        font-size: 13px;
    }
    .missing .buy-row{
        border-bottom: 1px solid lightgrey;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 16px;
    }
    .missing .like-trash{
        height: auto;
        width: auto;
        text-align: right;
        margin-bottom: 8px;
    }
    .missing .buy-card{
        margin: 0 0 0 20px;
    }
    .cart-delivery h4{
        font-size: 18px;
    }
    .small-dispaly-delivery .block{
        display: block;
    }
    .small-dispaly-delivery .width-13{
        width: auto;
    }
    .small-dispaly-delivery .block img{
        margin: 0 8px 0 0;
    }
    .small-dispaly-delivery .small-display-delivery-row{
        display: flex;
    }
    .pos-relative .count{
        right: 0;
    }
    .pay-buy-cart *, .like-trash button{
        margin: 0;
    }
    .pay-buy-cart{
        font-size: 13px;
        justify-content: space-between;
    }
    .adresse .width-40, .adresse .width-25{
        width: 100%;
    }
    .adresse .width-25{
        margin-bottom: 16px;
    }
    #modal-pay, #modal-delivery{
        width: 100%;
    }
    
} */



.display-none{
    display: none;
}